<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alunos.batalhanavalandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_navio"
        android:label="Batalha Naval"
        android:roundIcon="@mipmap/ic_launcher_navio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:label="Menu Principal"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NovoJogoActivity"
            android:label="Novo Jogo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoadSaveActivity"
            android:label="Load Save"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SobreActivity"
            android:label="Sobre"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JogadaHumanoActivity"
            android:label="Sua Vez"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".JogadaBotActivity"
            android:label="Vez do Bot"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".NaviosHumanoActivity"
            android:label="Posição dos Seus Navios"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>